<p style="color: green"><%= notice %></p>

<h1>Tasas</h1>

<div id="tasas">
  <% @tasas.each do |tasa| %>
    <%= render tasa %>
    <p>
      <%= link_to "Show this tasa", tasa %>
    </p>
  <% end %>
</div>

<%= link_to "New tasa", new_tasa_path %>
